<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#updateForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												hostname: {required: true},
						password: {required: true},
						lastUpdate: {required: true},
						port: {required: true},
						cpuUsage: {required: true},
						memUsage: {required: true}
					},
			
					messages: {
						hostname: { required: "请输入"},
						password: { required: "请输入"},
						lastUpdate: { required: "请输入"},
						port: { required: "请输入"},
						cpuUsage: { required: "请输入"},
						memUsage: { required: "请输入"}
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/clusterNodes");
				});
				$("#btn-submit").click(function(){
            		var form = $("#updateForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/clusterNodes/update',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/clusterNodes"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>&nbsp;&gt;&nbsp;修改
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="updateForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="hostname"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="hostname" id="hostname" class="col-xs-12 col-sm-12" value="$!clusterNodes.hostname" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="password"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="password" id="password" class="col-xs-12 col-sm-12" value="$!clusterNodes.password" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="lastUpdate"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="lastUpdate" id="lastUpdate" class="col-xs-12 col-sm-12" value="$!clusterNodes.lastUpdate" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="port"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="port" id="port" class="col-xs-12 col-sm-12" value="$!clusterNodes.port" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="cpuUsage"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="cpuUsage" id="cpuUsage" class="col-xs-12 col-sm-12" value="$!clusterNodes.cpuUsage" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="memUsage"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="memUsage" id="memUsage" class="col-xs-12 col-sm-12" value="$!clusterNodes.memUsage" />
                                    </div>
                                </div>
								<div class="form-group">
									<input type="hidden" name="id" id="id" value="$!clusterNodes.id" />
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
