<div class="navbar navbar-default" id="navbar">
	<script type="text/javascript">
		try{ace.settings.check('navbar' , 'fixed')}catch(e){}
	</script>

	<div class="navbar-container" id="navbar-container">
		<div class="navbar-header pull-left">
			<a href="#" class="navbar-brand">
				<small>
					<img src="#springUrl('')/static/avatars/logo.png" width="33%"  style="margin-top:-6px;"/>
                    <span class="bold">电商管理平台</span>
                </small>
			</a><!-- /.brand -->
		</div><!-- /.navbar-header -->

		<div class="navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">
				<li class="green">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<img class="nav-user-photo" src="#springUrl('')/static/avatars/user.jpg" alt="Jason's Photo" />
						<span class="user-info"><small>欢迎光临,</small>$!name</span>
						<i class="icon-caret-down"></i>
					</a>

					<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<li><a href="#"><i class="icon-user"></i>个人资料</a></li>
						<li><a href="javascript:void(0)" onclick="link('110','修改密码','/user/modifyPassword','10','系统管理');"><i class="icon-cog"></i>修改密码</a></li>
						<li class="divider"></li>
						<li><a href="#springUrl('')/quit"><i class="icon-off"></i>退出</a></li> 
					</ul>
				</li>
			</ul><!-- /.ace-nav -->
		</div><!-- /.navbar-header -->
	</div><!-- /.container -->
	
		
	
</div>