<!-- Modal -->
<div class="modal fade" id="myTigSocks5UsersModal" tabindex="-1" role="dialog" aria-labelledby="myTigSocks5UsersModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myTigSocks5UsersModalLabel">详情</h4>
			</div>
			<div class="modal-body"> 
				<table class="table table-striped table-bordered table-condensed table-hover">
					<tbody>
						<tr>
							<th class="center" style='width:25%;'></th><td id="r_uid" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'></th><td id="r_userId" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'></th><td id="r_sha1UserId" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'></th><td id="r_domain" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'></th><td id="r_sha1Domain" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'></th><td id="r_filesizeLimit" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'></th><td id="r_transferLimitPerUser" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'></th><td id="r_transferLimitPerDomain" style='width:25%;'></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="javascript">         	
    function toDetail(parameterId){
		$("#tab_online_tbody").html("");
		$("#tab_config_tbody").html("");
		$("#tab_log_tbody").html("");
    	jQuery.ajax({
    		type: "GET",
    		url: basePath + "/tigSocks5Users/detail",
    		dataType : 'json',
    		data: "id=" + parameterId,
    		
    		success: function(data){
    			if(data!=null && data.code==200 && data.result!=null){
    				var r = data.result;
    				$("#r_uid").text(r.uid==null?"":r.uid);
    				$("#r_userId").text(r.userId==null?"":r.userId);
    				$("#r_sha1UserId").text(r.sha1UserId==null?"":r.sha1UserId);
    				$("#r_domain").text(r.domain==null?"":r.domain);
    				$("#r_sha1Domain").text(r.sha1Domain==null?"":r.sha1Domain);
    				$("#r_filesizeLimit").text(r.filesizeLimit==null?"":r.filesizeLimit);
    				$("#r_transferLimitPerUser").text(r.transferLimitPerUser==null?"":r.transferLimitPerUser);
    				$("#r_transferLimitPerDomain").text(r.transferLimitPerDomain==null?"":r.transferLimitPerDomain);
    			} else {
    				alert("获取详情失败");
    			}
    		},
    		
    		error : function(data) {
    			alert("获取详情出现异常");
    		}
    	});
		
    	$('#myTigSocks5UsersModal').modal('show');
    }
</script>