<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-autowire="byName">

	<bean id="scheduleConfigCenter"
		class="com.taobao.pamirs.schedule.ScheduleConfigCenterClientByDatabase">
		<property name="dataBaseType" value="mysql" />
		<property name="dataSource">
			<ref bean="TBscheduleDataSource" />
		</property>
		<property name="tableMap">
			<map>
				<entry key="pamirs_schedule_queue">
					<value>PAMIRS_SCHEDULE_QUEUE</value>
				</entry>
				<entry key="pamirs_schedule_server">
					<value>PAMIRS_SCHEDULE_SERVER</value>
				</entry>
				<entry key="pamirs_schedule_tasktype">
					<value>PAMIRS_SCHEDULE_TASKTYPE</value>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="tbScheduleManagerFactory" class="com.taobao.pamirs.schedule.TBScheduleManagerFactory"
		init-method="init" lazy-init="false">
		<property name="scheduleConfigCenter">
			<ref bean="scheduleConfigCenter" />
		</property>
	</bean>

</beans>