<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#updateForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												msgId: {required: true},
						ts: {required: true},
						expired: {required: true},
						senderUid: {required: true},
						receiverUid: {required: true},
						msgType: {required: true},
						message: {required: true}
					},
			
					messages: {
						msgId: { required: "请输入"},
						ts: { required: "请输入"},
						expired: { required: "请输入"},
						senderUid: { required: "请输入"},
						receiverUid: { required: "请输入"},
						msgType: { required: "请输入"},
						message: { required: "请输入"}
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/msgHistory");
				});
				$("#btn-submit").click(function(){
            		var form = $("#updateForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/msgHistory/update',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/msgHistory"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>&nbsp;&gt;&nbsp;修改
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="updateForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="msgId"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="msgId" id="msgId" class="col-xs-12 col-sm-12" value="$!msgHistory.msgId" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="ts"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="ts" id="ts" class="col-xs-12 col-sm-12" value="$!msgHistory.ts" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="expired"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="expired" id="expired" class="col-xs-12 col-sm-12" value="$!msgHistory.expired" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="senderUid"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="senderUid" id="senderUid" class="col-xs-12 col-sm-12" value="$!msgHistory.senderUid" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="receiverUid"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="receiverUid" id="receiverUid" class="col-xs-12 col-sm-12" value="$!msgHistory.receiverUid" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="msgType"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="msgType" id="msgType" class="col-xs-12 col-sm-12" value="$!msgHistory.msgType" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="message"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="message" id="message" class="col-xs-12 col-sm-12" value="$!msgHistory.message" />
                                    </div>
                                </div>
								<div class="form-group">
									<input type="hidden" name="id" id="id" value="$!msgHistory.id" />
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
