<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#addForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												nodeId: {required: true},
						idSha1: {required: true},
						creationDate: {required: true},
						publisherId: {required: true},
						updateDate: {required: true},
						data: {required: true}
					},
			
					messages: {
						nodeId: { required: "请输入"},
						idSha1: { required: "请输入"},
						creationDate: { required: "请输入"},
						publisherId: { required: "请输入"},
						updateDate: { required: "请输入"},
						data: { required: "请输入"}
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/tigPubsubItems");
				});
				$("#btn-submit").click(function(){
            		var form = $("#addForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/tigPubsubItems/add',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/tigPubsubItems"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>&nbsp;&gt;&nbsp;新增
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="addForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="nodeId"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="nodeId" id="nodeId" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="idSha1"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="idSha1" id="idSha1" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="creationDate"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="creationDate" id="creationDate" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="publisherId"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="publisherId" id="publisherId" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="updateDate"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="updateDate" id="updateDate" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="data"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="data" id="data" class="col-xs-12 col-sm-12" />
                                    </div>
                                </div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
